@CHARSET "ISO-8859-1";

/****************
Zino
*****************/
.loginbody {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #eee;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .hideuser {
    display:none;
  }
   .hidepass {
    display:none;
  }
}


form div.withMargin {
	margin-left : 5px;
	margin-right : 5px;
	margin-bottom : 10px;
}

form{
	margin-top : 5px;
	margin-bottom : 5px;
}

.tabPagination {
	margin-top : -25px;
}

body {
	background-image:url(image/light_texture2269.jpg);
	margin:0;
  	padding:0; 
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
 	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */

}

.bodyBuilder table {
	background-color : white;
}

.form-group.labelAjout {
		margin-bottom : 0px;
	}
	
body {
	padding-left : 15px;
	padding-right : 15px;
}
	
.divInput {
	margin-bottom : 15px;
}
	
.btpAjout {
	margin-left : 15px;
}





